# Скопируйте этот файл в .env и впишите свои значения.
# Файл .env никому не отправляйте и не коммитьте.

TELEGRAM_TOKEN=123456789:ABCdef...
PROXY_URL=socks5://127.0.0.1:10808

# FFMPEG_LOCATION=C:\ffmpeg\bin
# SOURCES=yt,sc
